@font-face {
  font-family: "iconfont"; /* Project id 2677196 */
  /* Color fonts */
  src: 
       url('../fonts/font_2677196_1gk7ok9o1voh.woff2') format('woff2'),
       url('../fonts/font_2677196_1gk7ok9o1voh.woff') format('woff'),
       url('../fonts/font_2677196_1gk7ok9o1voh.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mima:before {
  content: "\f0bf";
}

.icon-fenxiang:before {
  content: "\f0bd";
}

.icon-saomiao:before {
  content: "\f0e0";
}

.icon-maomi:before {
  content: "\e609";
}

.icon-A18:before {
  content: "\e6f8";
}

.icon-A10:before {
  content: "\e6e3";
}

.icon-A13:before {
  content: "\e6e4";
}

.icon-A17:before {
  content: "\e6f5";
}

.icon-xiangji:before {
  content: "\f0c4";
}

.icon-yundong:before {
  content: "\f0ca";
}

.icon-biaoqing:before {
  content: "\f0e3";
}

.icon-huoche:before {
  content: "\e608";
}

.icon-A:before {
  content: "\e6e6";
}

.icon-A16:before {
  content: "\e6ee";
}

.icon-wode:before {
  content: "\f0b4";
}

.icon-xiaoxi:before {
  content: "\f0b5";
}

.icon-xihuan:before {
  content: "\f0b9";
}

.icon-rili:before {
  content: "\f0c0";
}

.icon-biaoqian:before {
  content: "\f0cb";
}

.icon-fenlei:before {
  content: "\f0cd";
}

.icon-pisa:before {
  content: "\f0d0";
}

.icon-fukuan:before {
  content: "\f0d5";
}

.icon-sousuo:before {
  content: "\f0eb";
}

.icon-lvsefenkaicankaoxianban_huaban:before {
  content: "\e618";
}

.icon-lvsefenkaicankaoxianban_huaban-copy:before {
  content: "\f0d9";
}

.icon-A1:before {
  content: "\e6ea";
}

.icon-A2:before {
  content: "\e6eb";
}

.icon-A3:before {
  content: "\e6ed";
}

.icon-A4:before {
  content: "\e6ef";
}

.icon-A5:before {
  content: "\e6f0";
}

.icon-A6:before {
  content: "\e6f1";
}

.icon-A7:before {
  content: "\e6f2";
}

.icon-A8:before {
  content: "\e6f3";
}

.icon-A9:before {
  content: "\e6f4";
}

.icon-A11:before {
  content: "\e6f6";
}

.icon-A12:before {
  content: "\e6f7";
}

.icon-A14:before {
  content: "\e6f9";
}

.icon-A15:before {
  content: "\e6fa";
}

.icon-shouye:before {
  content: "\f0ab";
}

.icon-shuaxin:before {
  content: "\f0d8";
}

